* {
  color: #eee;
  font-family: "Press Start 2P", cursive;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
}
section.page-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  flex-basis: 100%;
  border-bottom: 5px solid #eee;
  margin-bottom: -168px;
  padding-bottom: 58px;
}
div.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.again {
  font-size: 2rem;
  padding-top: 7px;
  padding-left: 21px;
  background-color: #eee;
  color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
}
.between {
  display: flex;
  font-size: 1.4rem;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
}
.guessText {
  font-size: 3.5rem;
}
p.number {
  color: rgb(34, 34, 34);
  background-color: #eee;
  display: flex;
  width: 213px;
  height: 150px;
  align-self: center;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  padding-top: 10px;
}
section.page-bottom {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}
.interact {
  display: flex;
  flex-direction: column;
}
#userInput {
  border: 5px solid #eee;
  height: 120px;
  font-size: 3.5rem;
  width: 245px;
  text-indent: 60px;
}
.check {
  display: flex;
  font-size: 20px;
  background-color: #eee;
  color: rgb(34, 34, 34);
  width: 143px;
  height: 50px;
  margin-top: 24px;
  justify-content: center;
  align-self: center;
  padding-top: 14px;
}
.text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 150px;
}
.startGuessing {
  margin-top: 0px;
  padding-top: 0px;
}
.score {
  margin-top: 44px;
}
.highScore {
  margin-top: 0px;
}
